<div
  class="<%= "alert alert-#{type} alert-dismissible fade show dataset-#{type}" %>"
  role="alert"
  data-id="<%= id %>"
  style="display: none;"
>
  <span class="message"></span>
  <button type="button" class="btn-close" aria-label="Close"></button>
</div>
