<div class="row">
  <div class="col-auto pe-1">
    <strong>Directed by</strong>
  </div>
  <div class="col-auto ps-1">
    <span class="text-muted">
      <%= directors.map(&:name).join(', ') %>
    </span>
  </div>
</div>
