<div class="row justify-content-center mt-2 mb-4">
  <% colors = Hash.new('secondary').merge({ params[:filter] => 'primary' }) %>
  <% TitlesQuery::FILTERS.each do |filter| %>
    <div class="col-auto">
      <a
        href="<%= titles_path(filter: filter[:name]) %>"
        class="btn btn-<%= colors[:filter] %> shadow-none"
      >
        <%= filter[:label] %>
      </a>
    </div>
  <% end %>
</div>
