<div class="row align-items-center mt-1">
  <div class="col-auto pe-1">
    <%= image_tag 'imdb', width: 48 %>
  </div>
  <div class="col-auto ps-1 pe-1">
    <strong>
      <%= sprintf('%g', title.imdb_rating) %>/10
    </strong>
  </div>
  <div class="col-auto ps-1">
    <span class="text-muted">
      (<%= number_to_human(title.imdb_num_votes) %>)
    </span>
  </div>
</div>
