@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.pagination > .page-item > .page-link {
  box-shadow: none !important;
}

.poster {
  height: 272px;
  width: 204px;
  background-position: center center;
  background-repeat: no-repeat;
}
